/* styles.css */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px; /* Adjust the margin as needed */
    border: 1px solid #ccc; /* Add a border */
    padding: 20px; /* Add padding inside the container */
}
